    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>

    <meta name="msvalidate.01" content="C41371E1ABEAE7BCC0EE15AF51B82D47" />
    
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% if page.amplink %}
    <link rel="amphtml" href="{{ site.url }}{{ page.amplink }}" />
    {% endif %}
    
    {% if site.facebook_app %}
    <meta property="fb:app_id" content="{{ site.facebook_app }}" />
    {% endif %}
    <meta property="fb:pages" content="490845634411991" />


    <meta name="twitter:card" content="summary" />
    {% if site.footer-links.twitter %}
    <meta name="twitter:site" content="@{{ site.footer-links.twitter }}" />
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    {% elsif page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}" />
    {% endif %}
    
    {% if page.author %}
    <meta name="author" content="{{ page.author.url }}" />
    {% else %}
    <meta name="author" content="{{ site.name }}" />
    {% endif %}
    
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% endif %}
    
    {% if page.ogimg %}
    <meta property="og:image" content="{{ site.url }}{{ page.ogimg }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ page.ogimg }}" />
    {% endif %}

    {% if site.name %}
    <meta property="og:name" content="{{ site.name }}" />
    {% endif %}
    
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

