	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Comparte</h4>
	      </div>
	      <div class="modal-body">
               <div class="row">
                  <!-- Coloca esta etiqueta donde quieras que aparezca widget. -->
                  <div class="g-page" data-href="//plus.google.com/u/0/108207320863005835639" data-layout="landscape" data-rel="publisher"></div>
               </div>
		  <div class="row">
                  <div class="fb-page" data-href="https://www.facebook.com/horoscopodeldiagratis/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/horoscopodeldiagratis/"><a href="https://www.facebook.com/horoscopodeldiagratis/">Horóscopos del dia</a></blockquote></div></div>
              </div>  
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->