      <!-- COntenedor para la barra de navegacion -->
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- El logotipo y el icono que despliega el menú se agrupan
	    para mostrarlos mejor en los dispositivos móviles -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse"
		  data-target=".navbar-ex1-collapse">
	    <span class="sr-only">Desplegar navegación</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href='{{ site.url }}'>Horóscopo del día</a>
	</div>
      
	<!-- Agrupar los enlaces de navegación, los formularios y cualquier
	    otro elemento que se pueda ocultar al minimizar la barra -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
	  <ul class="nav navbar-nav navbar-right">
	  <li> <a href='{{ site.url }}horoscopo-de-hoy/' alt="Horoscopo del dia" title="Horoscopo de hoy">Horoscopo de hoy</a></li>
	  <li> <a href='{{ site.url }}oraculo-si-no/' alt="Oraculo Si o No" title="Pregunta al Oraculo por SI o NO">Oraculo Si o NO</a></li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Signos <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="{{ site.url }}horoscopo-diario-gratis/aries/">Aries</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/tauro/">Tauro</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/geminis/">Geminis</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/cancer/">Cancer</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/leo/">Leo</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/virgo/">Virgo</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/libra/">Libra</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/escorpio/">Escorpio</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/sagitario/">Sagitario</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/capricornio/">Capricornio</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/acuario/">Acuario</a></li>
		<li><a href="{{ site.url }}horoscopo-diario-gratis/piscis/">Piscis</a></li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Horoscopo Chino <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="{{ site.url }}p/cerdo-horoscopo-chino-2015.html">Cerdo</a></li>
		<li><a href="{{ site.url }}p/serpiente-horoscopo-chino-2015.html">Serpiente</a></li>
		<li><a href="{{ site.url }}p/horoscopo-chino-2015-mono.html">Mono</a></li>
		<li><a href="{{ site.url }}p/cabra-horoscopo-chino-2015.html">Cabra</a></li>
		<li><a href="{{ site.url }}p/perro-horoscopo-chino-2015.html">Perro</a></li>
		<li><a href="{{ site.url }}p/horoscopo-chino-liebre-2015.html">Liebre</a></li>
		<li><a href="{{ site.url }}p/dragon-horoscopo-chino-2015.html">Dragon</a></li>
		<li><a href="{{ site.url }}p/caballo-horoscopo-chino-2015.html">Caballo</a></li>
		<li><a href="{{ site.url }}p/gallo-horoscopo-chino-2015.html">Gallo</a></li>
		<li><a href="{{ site.url }}p/horoscopo-chino-2015-tigre.html">Tigre</a></li>
		<li><a href="{{ site.url }}p/horoscopo-chino-rata.html">Rata</a></li>
		<li><a href="{{ site.url }}p/horoscopo-chino-buey.html">Buey</a></li>
	      </ul>
	    </li>
	  </ul>
	</div>
	
      </nav>
    <div class="alert alert-warning alert-dismissable navbar-fixed-bottom">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Este sitio hace uso de cookies propias y/o de terceros, si continuas aceptas el uso de las mismas.
    </div>


</div> <!-- /.Contenedor nav --> 