    <strong>Horoscopos mensuales - Predicciones por signos</strong>
  <div class="row centered lightgrey">
    {% for signo in site.data.signos %}
          <div class="col-sm-4">
		<a href="{{ site.url }}/horoscopo-mensual/{{ signo.id }}/" alt="{{ signo.id }} Horóscopo mensual">
		{% capture signo_image %}/images/{{ signo.id }}.png{% endcapture %}
		{% include picture.html img=signo_image class="img-responsive center-block" alt="Signo del zodiaco " %}
		<ul class="list-unstyled">
		  <li>Horóscopos mensual {{ signo.id }}</li>
		</ul>
	     </a>
	  </div>
    {% endfor %}
  </div>
