 <div class="row centered lightgrey">
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/aries.png" class="img-responsive center-block">
      <h3>
      Aries
      </h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/aries/" alt="Aries Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/aries/" alt="Aries Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/aries/" alt="Aries Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/aries/" alt="Aries Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/tauro.png" class="img-responsive center-block">
      <h3>Tauro</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/tauro/" alt="Tauro Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/tauro/" alt="Tauro Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/tauro/" alt="Tauro Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/tauro/" alt="Tauro Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/geminis.png" class="img-responsive center-block">
      <h3>Geminis</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/geminis/" alt="Geminis Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/geminis/" alt="Geminis Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/geminis/" alt="Geminis Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/geminis/" alt="Geminis Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
  </div>
  <div class="row centered lightgrey">
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/cancer.png" class="img-responsive center-block">
      <h3>Cancer</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/cancer/" alt="Cancer Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/cancer/" alt="Cancer Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/cancer/" alt="Cancer Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/cancer/" alt="Cancer Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/leo.png" class="img-responsive center-block">
      <h3>Leo</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/leo/" alt="Leo Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/leo/" alt="Leo Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/leo/" alt="Leo Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/leo/" alt="Leo Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/virgo.png" class="img-responsive center-block">
      <h3>Virgo</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/virgo/" alt="Virgo Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/virgo/" alt="Virgo Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/virgo/" alt="Virgo Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/virgo/" alt="Virgo Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
  </div>
  <div class="row centered lightgrey">
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/libra.png" class="img-responsive center-block">
      <h3>Libra</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/libra/" alt="Libra Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/libra/" alt="Libra Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/libra/" alt="Libra Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/libra/" alt="Libra Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/escorpio.png" class="img-responsive center-block">
      <h3>Escorpio</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/escorpio/" alt="Escorpio Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/escorpio/" alt="Escorpio Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/escorpio/" alt="Escorpio Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/escorpio/" alt="Escorpio Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/sagitario.png" class="img-responsive center-block">
      <h3>Sagitario</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/sagitario/" alt="Sagitario Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/sagitario/" alt="Sagitario Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/sagitario/" alt="Sagitario Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/sagitario/" alt="Sagitario Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
  </div>
  <div class="row centered lightgrey">
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/capricornio.png" class="img-responsive center-block">
      <h3>Capricornio</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/capricornio/" alt="Capricornio Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/capricornio/" alt="Capricornio Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/capricornio/" alt="Capricornio Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/capricornio/" alt="Capricornio Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/acuario.png" class="img-responsive center-block">
      <h3>Acuario</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/acuario/" alt="Acuario Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/acuario/" alt="Acuario Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/acuario/" alt="Acuario Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/acuario/" alt="Acuario Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.url }}/images/piscis.png" class="img-responsive center-block">
      <h3>Piscis</h3>
      <ul class="list-unstyled">
	<li><a href="{{ site.url }}/horoscopo-diario-gratis/piscis/" alt="Piscis Horoscopo hoy">Horoscopo Diario</a></li>
	<li><a href="{{ site.url }}/horoscopo-semanal-gratis/piscis/" alt="Piscis Horoscopo semanal">Horoscopo Semanal</a></li>
	<li><a href="{{ site.url }}/horoscopo-mensual/piscis/" alt="Piscis Horoscopo Mensual">Horoscopo Mensual</a></li>
	<li><a href="{{ site.url }}/horoscopo-anual/piscis/" alt="Piscis Horoscopo Anual">Horoscopo Anual</a></li>
      </ul>
    </div>
  </div>
