<ul class="list-inline">
  {% if site.social-links.facebook %}
  <li><a href="http://facebook.com/{{ site.social-links.facebook }}" title="Fanpage Horoscopo del dia"><i class="fa fa-facebook"></i></a></li>
  {% endif %}

  {% if site.social-links.youtube %}
  <li><a href="http://youtube.com/{{ site.social-links.youtube }}" title="Youtube Horoscopo del dia"><i class="fa fa-youtube"></i></a></li>
  {% endif %}

  {% if site.social-links.twitter %}
  <li><a href="http://twitter.com/{{ site.social-links.twitter }}" title="Twitter Horoscopo del dia"><i class="fa fa-twitter"></i></a></li>
  {% endif %}

  {% if site.social-links.instagram %}
  <li><a href="http://instagram.com/{{ site.social-links.instagram }}" title="Instagram Horoscopo del dia""><i class="fa fa-instagram"></i></a></li>
  {% endif %}
</ul>