---
layout: compress
---

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>{% if page.title %}{{ page.title }} - {{ site.name }}{% else %} {{ site.name }}{% endif %}</title>

    {% include meta.html %}
    {% include styles.html %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% include fbapp.html %}
   
    {% include schema.html %}
   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7033627990045927",
    enable_page_level_ads: true
  });
</script>
  </head>

  <body>
    {% include navbar.html %}

  <!-- Contenedor Main y sidebar --> 
    <div id="main" role="main" class="container">
        <div class="row">
	<!-- Main --> 
	  <div class="col-sm-12 hfeed" id="cuerpo-entradas">		
	    {{ content }}
	  </div>
	  
	  <!-- SIDEBAR --> 
	    
		
	<!-- Footer --> 
	<div id="col-sm-12">
	      {% include social.html %}
	</div>
	
    </div>
    {% include analytics.html %}
    <!-- JavaScripts Plugins al final para mejorar la carga-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.url }}/js/all.js" async defer></script>
    {% if page.oraculo_si_no  %}
    <script src="{{ site.url }}/js/oraculo_si_no.js"></script>
    {% endif  %}
    <script src="//load.sumome.com/" data-sumo-site-id="2e0034d6eadd377c06ce5faab029fc068e969887401c213bc0d6432363c03034" async="async"></script>
    <script type="application/javascript" src="https://app.cotorrachatbot.com/static/js/script.js"></script>
    
  </body>
</html>
