---
layout: compress
---

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
    
    {% if site.googletagmanager%}
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.googletagmanager }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    
    <title>{% if page.title %}{{ page.title }} - {{ site.name }}{% else %} {{ site.name }}{% endif %}</title>
    {% include analytics.html %}

    {% include meta.html %}
    <link rel="preconnect" href="https://www.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% include styles.html %}

    {% include schema.html %}
    {% assign ads = page.ads | default: layout.ads %}
    {% if site.adsense and ads contains "adsense" %}
        <link rel="preconnect" href="https://pagead2.googlesyndication.com">
        <link rel="preconnect" href="https://adservice.google.com/">
        <link rel="preconnect" href="https://googleads.g.doubleclick.net/">
        <link rel="preconnect" href="https://www.googletagservices.com/">
        <link rel="preconnect" href="https://tpc.googlesyndication.com/">
        <!--Automatic Ads-->
        <script data-ad-client="{{ site.adsense }}" defer
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
    {% include mailchimp.html %}
  </head>

  <body>
    {% if site.googletagmanager%}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.googletagmanager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
  
    {% include navbar.html %}

  <!-- Contenedor Main y sidebar --> 
    <div id="main" role="main" class="container">
        <div class="row">
	<!-- Main --> 
	  <div class="col-sm-12 hfeed" id="cuerpo-entradas">		
	    {{ content }}
	  </div>
	  
	  <!-- SIDEBAR --> 
	    
		
	<!-- Footer --> 
	<div id="col-sm-12">
	      {% include social.html %}
	</div>
	
    </div>

    {% include lazysizes.html %}
    <!-- JavaScripts Plugins al final para mejorar la carga-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/all.js" defer></script>
    {% if page.oraculo_si_no  %}
    <script src="/js/oraculo_si_no.js"></script>
    {% endif  %}
    <!--<script type="application/javascript" src="https://app.cotorrachatbot.com/static/js/script.js"></script>-->
    {% if ads contains "adsterra" %}
    <script type='text/javascript' src='//pl15954240.toprevenuecpmnetwork.com/37/32/30/3732306265646236646337393463643766333366303338656432383134303066.js'></script>
    {% endif %}
  </body>
</html>
