---
layout: default
ads: ["adsense"]
---
{% include schema-article.html %}
<div class="col-sm-8">
  <article class="page">

    <div class="row panel panel-default"> <!--Fila del post -->

      <div class="panel-heading"> <!--Titulo del panel -->
	<!--Titulo del post -->
	<h1 class="panel-title" rel='bookmark'><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>

	{% include adsense-graphic.html ad_slot="7764040801" %}
	    <div>
	      <ul class="pager">
		<li><a href="{{ site.url }}/horoscopo-diario-gratis/{{ page.horoscopo.signo }}/">Hoy</a></li>
		<li><a href="{{ site.url }}/horoscopo-semanal-gratis/{{ page.horoscopo.signo }}/">Semanal</a></li>
		<li><a href="{{ site.url }}/horoscopo-mensual/{{ page.horoscopo.signo }}/">Mensual</a></li>
		<li><a href="{{ site.url }}/horoscopo-anual/{{ page.horoscopo.signo }}/">{{ page.horoscopo.signo }} 2021</a></li>
	      </ul>
	    </div>
      </div>	<!--/Titulo del panel -->

      <!--Cuerpo del panel -->
      <div class="panel-body">
      
      {{ content }}
      {% if page.horoscopo.signo %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ site.data.semanal['general'].video }}" allowfullscreen></iframe>
      </div>
      {% endif %}
      
      {% include adsense.html %}
      
      </div>
      <!--/Cuerpo del panel -->
      <!--Extra -->
    </div>
  </article>
</div>
{% include sidebar.html %}

<div class="row">
  <div class="col-sm-8">
  {% include signos-hoy-foot.html %}
  </div>
  <div class="col-sm-4">
  <div class="fb-page" data-href="https://www.facebook.com/horoscopodeldiagratis/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/horoscopodeldiagratis/"><a href="https://www.facebook.com/horoscopodeldiagratis/">Horóscopos del dia</a></blockquote></div></div>
  <div class="g-page" data-href="//plus.google.com/u/0/108207320863005835639" data-rel="publisher"></div>
  </div>
</div>
