---
layout: default
ads: ["adsense"]
---
{% include schema-article.html %}
<div class="col-sm-8">
  <article class="page">

    <div class="row panel panel-default"> <!--Fila del post -->

      <div class="panel-heading"> <!--Titulo del panel -->
	<!--Titulo del post -->
	<h1 class="panel-title" rel='bookmark'><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>

	{% include adsense-graphic.html ad_slot="7764040801" %}
        <div>
	    </div>
      </div>	<!--/Titulo del panel -->

      <!--Cuerpo del panel -->
      <div class="panel-body">
      
      {{ content }}
      
      {% include adsense.html %}
      
     
      </div>
      <!--/Cuerpo del panel -->
      <!--Extra -->
    </div>
  </article>
</div>
{% include sidebar.html %}

<div class="row">
  <div class="col-sm-8">
  {% include signos-chino-anual-foot.html %}
  </div>
  <div class="col-sm-4">
  <div class="fb-page" data-href="https://www.facebook.com/horoscopodeldiagratis/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/horoscopodeldiagratis/"><a href="https://www.facebook.com/horoscopodeldiagratis/">Horóscopos del dia</a></blockquote></div></div>
  <div class="g-page" data-href="//plus.google.com/u/0/108207320863005835639" data-rel="publisher"></div>
  </div>
</div>
