---
layout: default
ads: ["adsense"]
---

{% include schema-article.html %}

<article class="page">

  <div class="row panel panel-info"> <!--Fila del post -->

    <div class="panel-heading"> <!--Titulo del panel -->
      <!--Titulo del post -->
      <h1 class="panel-title" rel='bookmark'><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>
      <!--Info post-Debajo del titulo -->			    
      <ul class='list-inline'>
      <!--Fecha -->
	<li><small><span class='text-muted'>
	
	  {% if page.sitemap.lastmod %}
	    <time>{{ page.sitemap.lastmod | date: "%d-%m-%Y" }}</time>
	  {% elsif page.date %}
	    <time>{{ page.date | date: "%d-%m-%Y" }}</time>
	  {% else %}
	    <time>{{ site.time | date: "%d-%m-%Y" }}</time>
	  {% endif %}
	
	</span></small></li>
	<li><div class="fb-like" data-href="https://www.facebook.com/{{ site.social-links.facebook }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></li>
      </ul>

      
    </div>	<!--/Titulo del panel -->

    <!--Cuerpo del panel -->
    <div class="panel-body">
    {% include adsense.html %}
      {{ content }}
    {% include adsense.html %}
    </div>
    <!--/Cuerpo del panel -->
    <!--Extra -->
    <div class="panel-footer">
      </div>
  </div>  
</article>
